In [1]:
age = 22
type(age)

int

In [2]:
## string datatype

name="Kinnari"
print(type(name))

<class 'str'>

In [3]:
## boolean datatype

type(True)

bool

In [4]:
is_true=bool
bool()

False

In [5]:
a = 10
b = 10

type(a==b)

bool

In [22]:
## common errors 

##result="Hello" + 5 -----Gives TypeError. Solved in next cell

In [7]:
result="Hello" + str(5)
print(result)  # Output: Hello5

Hello5

In [12]:
str1="Hello"

str2 = str.strip(str1)
print(str2)

### Operations

In [15]:
##Arithmetic operation

a=10
b=5

add_result=a+b
sub_result=a-b
mul_result=a*b
div_result=a/b
floor_div_result=a//b 
mod_result=a%b
expnential_result=a**b 

print(add_result)
print(sub_result)
print(mul_result)
print(div_result)
print(floor_div_result)
print(mod_result)
print(expnential_result)

15
5
50
2.0
2
0
100000

In [17]:
##Comparison operators

a=10
b=10 

a==b

True

In [19]:
str1="Kinnari"
str2="kinnari"

str1==str2

False

In [20]:
str3="Kinnari"
str4="kinnari"

str3!=str4

True

In [21]:
##Similiarly we have 

'''
>, < , >=, <=
'''

'\n>, < , >=, <=\n'

### Logical operators

In [ ]:
## AND, OR, NOT 

## AND - Both inputs are True 
## OR - One of the inputs is True
## NOT - Inverts the input