In [1]:
### for loop 

range(5)

range(0, 5)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
range1= range(1,10,1)

for i in range1:
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [7]:
## strings 

str="Kinnari Bhalerao"

for i in str:
    print(i)

K
i
n
n
a
r
i

B
h
a
l
e
r
a
o

In [8]:
## while loop 

## It continues to execute unless the condition is true

count = 0

while count<5:
    print(count)
    count += 1

0
1
2
3
4

In [9]:
count = 0

while count%2==0:
    print(count)
    count += 1

0

In [10]:
## Loop control statements 

##break - exits loop prematurely

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [11]:
## continue - skips current iteration and continues next

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [13]:
#pass - null operation, does nothing technically :)

for i in range(5):
    if i==3: 
        print("The num is", i)
        pass 
    print(i)

0
1
2
The num is 3
3
4

In [15]:
## nested loops 

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [16]:
## examples 

#calculate sum of n natural numbers using while loop

sum = 0

n = 10

count = 1

while count<=10:
    sum += count 
    count +=1 

print(sum)

55

In [17]:

n = 10
sum = 0

for i in range(11):
    sum+=i 

print(sum)

55

In [18]:
##prime nos between 1 and 100

for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if (num%i==0):
                break 
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97