# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [1]:
st = set(range(1,11))
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
st.add(11)
print(st)
st.remove(1)
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [5]:
s1 = set(range(1,6))
s2 = {2,4,6,8,10}

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [6]:
sq = {x**2 for x in range(1,11)}
print(sq)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [7]:
st2 = {x for x in st if x%2==0}
print(st2)  # Output: {2, 4, 6, 8,

{2, 4, 6, 8, 10}

In [8]:
s3 = {1,2,3,4,5,6,7,7,7,4,4,5}
print(s3)

{1, 2, 3, 4, 5, 6, 7}

In [9]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

print(s2.issubset(s1))
print(s1.issuperset(s2))

True
True

In [10]:
s = frozenset(range(1, 6))
print(s)

frozenset({1, 2, 3, 4, 5})

In [11]:
s = {1,2,3,4,5}
lst = list(s)
print(lst)
lst.append(6)
print(lst)
s = set(lst)
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [12]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [13]:
s = set(range(1,11))
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
s = set(range(1,6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [16]:
s1 = {1,2,3}
s2 = {3,4,5}
print(s1.symmetric_difference_update(s2))

None

In [17]:
s = set(range(1,11))
print(3 in s)
print(12 in s)

True
False

In [18]:
s = s = {(1,2),(3,4),(5,6)}
print(s)

{(1, 2), (3, 4), (5, 6)}