In [1]:
1+1

2

### python example

In [2]:
print("Hello World!")

Hello World!

In [3]:
'''Hello this 
is 
a 
multiline 
comment!'''

'Hello this \nis \na \nmultiline \ncomment!'

In [4]:
name="Kinnari"
Name="Bhalerao"

print(name)
print(Name)

Kinnari
Bhalerao

In [5]:
age = 32
if age>30:
    print("You are an adult")
else:
    print("You are a child")

You are an adult

In [7]:
total = 1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [8]:
### Code example of indentation

if True:
    print("Correct indentation")
    if False:
        print("flgfglkgskl")
    print("This will print")
print("Outside the if block")

Correct indentation
This will print
Outside the if block