In [1]:
##tuples are immutable ----cannot be changed

In [3]:
empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

In [4]:
numbers = tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [5]:
##accessing tuple elements

numbers

(1, 2, 3, 4, 5)

In [6]:
numbers[0]
numbers[2]

3

In [7]:
mixed_tuple = ("Astronomy",3.14, True)

con_tuple = numbers + mixed_tuple
print(con_tuple)  # Output: ('1', '2', '3', 'Astr

(1, 2, 3, 4, 5, 'Astronomy', 3.14, True)

In [8]:
numbers*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [14]:
## tuple methods 

print(numbers.count(1))
print(numbers.index(4))

1
3

In [18]:
## packing and unpacking of tuples 
##packing
packed_tuple = 1 ,"Hello", 3.14 
print(packed_tuple)  # Output: ('Hello', 3.14)

(1, 'Hello', 3.14)

In [19]:
##unacking

a,b,c = packed_tuple 

print(a)
print(b)
print(c)  # Output: 1 2 3

1
Hello
3.14

In [ ]:
numbers = (1,2,3,4,5)
first, *middle, last = numbers 

print(first)
print(middle) ##star gives output from the time/place we are unpacking
print(last)

1
[2, 3, 4]
5

In [22]:
##nested_tuple 

lst=[[1,2,3,4],[6,7,8,9],(1,"hello",3.14,"c")]
lst[2][0:3]

(1, 'hello', 3.14)

In [25]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))


print(nested_tuple[2])
print(nested_tuple[1][1])

(True, False)
b

In [26]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False